<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Eat A Burger Or Create Your Own!</h1>
        </div>
    </div>
    <div class="text-center">
     <img src="/assets/img/burger.jpg" alt="Image of a pixel burger">
    </div>
    <div class="row">
        <div class="col-md">
            <ol class="list-group">
                <h3>Menu</h3>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">
                    <p>
                        {{id}}. {{burger_name}}
                        <button data-newdevour="{{devoured}}" data-id="{{id}}" class="devour-burger btn btn-secondary float-right">Devour</button>
                    </p>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-md">
            <ol class="list-group">
                <h3>Devoured!</h3>
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">
                    <p>{{id}}. {{burger_name}}
                    <button data-id="{{id}}" class="delete-burger btn btn-secondary float-right">Delete</button>
                 </p>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <form class="create-form mb-3">
        <label for="createBurger">Create your burger here!</label>
        <input type="text" class="form-control" id="createBurger"  aria-describedby="inputGroup-sizing-default">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>

</div>